type project
include-pdbs true
releasenotes
  FEATURE: SpinUpdateMode

tags wpf xaml numeric textbox
projectUrl https://github.com/JohanLarsson/Gu.Wpf.NumericInput
licenseUrl http://opensource.org/licenses/MIT

excludedgroups
  Analyzers
  Build