source http://www.nuget.org/api/v2/

group Analyzers
  source http://nuget.org/api/v2
  nuget AsyncUsageAnalyzers
  nuget IDisposableAnalyzers
  nuget PublicApiAnalyzer prerelease
  nuget ReflectionAnalyzers prerelease
  nuget PropertyChangedAnalyzers
  nuget StyleCop.Analyzers
  nuget WpfAnalyzers
  nuget Gu.Analyzers
  nuget JetBrains.Annotations

group Test
  source http://www.nuget.org/api/v2/
  storage: none
  nuget NUnit
  nuget Gu.Wpf.UiAutomation

group Demo
  source http://www.nuget.org/api/v2/
  nuget Gu.PropertyGrid
  nuget Gu.Wpf.AutoRowGrid

group Build
  source http://www.nuget.org/api/v2/
  nuget SourceLink