source http://www.nuget.org/api/v2/
framework >= net45

group Analyzers
  source http://www.nuget.org/api/v2/
  framework >= net45
  nuget StyleCop.Analyzers
  nuget WpfAnalyzers
  nuget Gu.Analyzers
  nuget JetBrains.Annotations

group Test
  source http://www.nuget.org/api/v2/
  framework >= net45
  nuget NUnit
  nuget TestStack.White

group Demo
  source http://www.nuget.org/api/v2/
  framework >= net45
  nuget Gu.PropertyGrid
  nuget Gu.Wpf.AutoRowGrid